<em class="fs-6" style="text-align: center; margin-top: 20px; display: block" *ngIf="loading">Henter priser....</em>
<div *ngIf="!loading && elspotData.currentPrice === ''" class="fs-6" style="text-align: center; margin-top: 20px; display: block"><i class="fa-solid fa-triangle-exclamation"></i> Ingen data lige nu. Prøv lidt senere</div>
<div *ngIf="!loading && elspotData.currentPrice !== ''">
  <div class="fs-3" style="text-align: center; margin-top: 20px">Aktuel pris: {{elspotData.currentPrice}} øre/kWh</div>

  <div class="card" style="margin-top: 20px">
    <div class="card-header" style="text-align: center">I dag ({{elspotData.todayDay}})</div>
    <div class="card-body">
      <canvas #panelA=base-chart baseChart
              [data]="barChartDataToday"
              [options]="barChartOptions"
              [type]="barChartType">
      </canvas>
    </div>
  </div>

  <div class="card" style="margin-top: 20px">
    <div class="card-header" style="text-align: center">I morgen ({{elspotData.tomorrowDay}})</div>
    <div class="card-body">
      <div style="text-align: center">
        <div *ngIf="elspotData.tomorrowBestTime !== '-'">
          <canvas #panelB=base-chart baseChart
                  [data]="barChartDataTomorrow"
                  [options]="barChartOptions"
                  [type]="barChartType">
          </canvas>
        </div>
        <div *ngIf="elspotData.tomorrowBestTime === '-'">
          <div class="fs-6"><i class="fa-solid fa-triangle-exclamation"></i> Ingen data lige nu. Prøv lidt senere</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="text-align: center; margin-top: 20px;">
  <button class="btn btn-outline-primary btn-lg" [disabled]="loading" type="button" (click)="refresh()"><i class="fa-solid fa-rotate-right"></i> Opdater</button>
</div>
